
<header>
  <nav class="navbar navbar-light bg-light">
     <div class="container-fluid">
         <span class="navbar-brand mb-0 h1">ChatBot Prueba Tecnica</span>
     </div>
  </nav>
</header>
<main>
  <div class="chat-container">
     <div class="chat-box">
         <div class="card">
             <div class="card-header">
                 Mensajes
                 <span [ngClass]="this.webSocket.status ? 'dot onlinedot' : 'dot offlinedot' "></span>
             </div>

             <div class="chat-app">

              <div class="chat">

                  <div class="chat-history">
                      <ul class="m-b-0">
                          <li class="clearfix" *ngFor="let message of this.webSocket.websocketMessage">

                              <div *ngIf="message.message"[ngClass]="message.user != 'bot' ? 'message other-message float-right' : 'message my-message'"> {{message.message}}</div>
                              <div *ngIf="message.object && message.object !== []" [ngClass]="message.user == 'bot' ? 'message my-message' : '' " >
                                <table class="table table-bordered">
                                  <tbody>
                                    <tr *ngFor="let item of message.object ">
                                      <td *ngFor="let reg of item | keyvalue:keepOriginalOrder">{{reg.value}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                               </div>

                          </li>

                      </ul>
                  </div>

              </div>
          </div>
             <div class="card-footer">
                 <form (ngSubmit)="sendmessage (wsMessageForm)" #wsMessageForm="ngForm">
                     <div class="chat-send row">
                         <div class="col-10">
                             <input placeholder="Mensaje" type="text" class="form-control" name="message" id="input-message" ngModel>
                         </div>
                         <div class="col-2">
                             <button type="submit" class="btn btn-primary">Enviar</button>
                         </div>
                     </div>
                 </form>
             </div>
         </div>
     </div>
  </div>
</main>




